.main_information{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.pokemon-sprites{
    border: 1px solid #dfdfdf;
    width: 300px;
    background-color: #f7f7f7;
    height: fit-content;
    margin-inline: 15px;
}

.tab-custom-1{
    position: relative;
    bottom: 16px;
    background-color: #f7f7f7;
}

.card-information{
    width: 800px;
    height: fit-content;
    margin-inline: 15px;
}

.card-title{
    padding: 5px;
    display: flex;
}

.card-name{
   align-self: center;
   margin-inline: 20px;
}

.other_information{
    margin: 30px;
    display: flex;
}

.table_custom{
    margin: 20px;
    height: fit-content;
}
